<?xml version="1.0" ?>
<launch>

  <arg name="robot_ip" default="192.168.1.1" />
  <arg name="launch_rviz" default="true" />
  <arg name="camera" default="true" />

  <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="true" />
    <arg name="launch_rviz" value="$(arg launch_rviz)" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find panda_realsense)/urdf/panda_realsense.urdf.xacro'"/>

  <include if="$(arg camera)" file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters" value="pointcloud" />
    <arg name="enable_infra" value="false" />
    <arg name="enable_infra1" value="false" />
    <arg name="enable_infra2" value="false" />
    <arg name="enable_fisheye" value="false" />
    <arg name="color_fps" value="15" />
    <arg name="depth_fps" value="15" />
    <arg name="clip_distance" value="1.5" />
    <arg name="json_file_path" value ="$(find panda_bin_picking)/config/custom.json" />
  </include>

</launch>
