<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="camera_estimated" params="connected_to:='' rpy:='0 0 0' xyz:='0 0 0'">  

        <joint name="camera_estimated_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <parent link="${connected_to}"/>
            <child link="camera_estimated_link"/>          
        </joint>

        <link name="camera_estimated_link">
            <inertial>
                <mass value="0"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial>

            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.01 0.01 0.01" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                <box size="0.01 0.01 0.01" />
                </geometry>
          </collision>
        </link>

    </xacro:macro>

</robot>